<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body class="container">

<header>
    <% include partials/header %>
</header>

<main>
    <div class="row">
        <div class="col-sm-8">
            <h3>EDIT <%=USERNAME%> ACCOUNT</h3>
            <hr/>

            <% include partials/formAccount %>
        </div>
    </div>
</main>

<footer>
    <% include partials/footer %>
</footer>

</body>
</html>
