<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body class="container">

<header>
    <% include partials/header %>
</header>

<main>
    <div class="row">
        <div class="col-sm-8">
            <h3>CREATE NEW ACCOUNT</h3>
            <hr/>
            <form method="post" action="/api/v1/sendMoneyTo/<%=Symbol%>">
                <div class="form-group">
                    <label for="DestinationAccountId">AccountId</label>
                    <input type="text" required class="form-control" id="DestinationAccountId" name="DestinationAccountId" aria-describedby="emailHelp"
                           placeholder="User AccountId" >
                    <small id="emailHelp" class="form-text text-muted">Ask destination user for AccountId (top right).</small>
                </div>
                <div class="form-group">
                    <label for="Amount">Amount</label>
                    <input type="text" required class="form-control" id="Amount" name="Amount" aria-describedby="emailHelp"
                           placeholder="Amount to send" value="0" >
                </div>
                <div class="form-group">
                    <label for="DestinationAccountId">Transaction Id</label>
                    <input type="text" required class="form-control" id="TransactionId" name="TransactionId" aria-describedby="emailHelp"
                           placeholder="Transaction Id" value="<%=TransactionId%>" >
                    <small id="emailHelp" class="form-text text-muted">Any unique id to avoid duplication (must be unique)</small>
                </div>

                <button type="submit" class="btn btn-primary">
                        <i class="fas fa-user-plus"></i> Send
                </button>
            </form>
        </div>
    </div>
</main>

<footer>
    <% include partials/footer %>
</footer>

</body>
</html>
